.Order{
    width:80%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
}

.OrderItem{
    display: inline-block;
    padding: 4px;
    margin: 0 4px;
    border: 1px solid #aaa;
    border-radius: 2px;
    text-transform: capitalize;
}