.toolbar{
    width: 100%;
    height: 55px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: teal;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.toolbar nav{
    height: 100%;
}

@media (max-width:499px){
    .Deskonly{
        display: none;
    }
}