.SideDrawer{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 280px;
    max-width: 70%;
    z-index: 200;
    padding: 32px 16px;
    box-sizing: border-box;
    background-color: white;
    transition: transform 0.3s ease-out;
}

@media (min-width:500px){
    .SideDrawer{
        display: none;
    }
}

.open{
    transform: translateX(0);
}

.close{
    transform: translateX(-100%);
}