.ContactData{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}


@media(min-width:600px){
    .ContactData{
        width: 500px;
    }
}